<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<app-mainnavbar></app-mainnavbar>
<mat-card class="redeem_card">
  <mat-card-title>
    Redeem Points
  </mat-card-title>
  <mat-card-content>
    <div class="example-container">
      
        <mat-form-field>
            <input matInput type="number" placeholder="Total Loyality Points" disabled>
          </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Points You Want to Redeem" >
        </mat-form-field>
        <mat-form-field>
  
          <input matInput type="number" placeholder="Amount" disabled>
        </mat-form-field>
  
      </div>
  </mat-card-content>
  <mat-card-actions>
      <div>
        <button mat-raised-button color="primary">Ok</button>
        <button mat-raised-button color="warn" routerLink="/edit">Cancel</button>
      </div>
    </mat-card-actions>
</mat-card>