<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
     
      <mat-icon class="nav-icon" routerLink="/home" >home</mat-icon>
    
      <span class="nav-text" routerLink="/home" >LOYALTY POINTS </span>
    
      <span class="nav-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>settings</mat-icon>
      </button>
      <!--Dropdown-->
      <mat-menu #menu="matMenu">
        <button mat-menu-item  routerLink="/points">
          <mat-icon>edit</mat-icon>
          <span>Set Points</span>
        </button>
        <button mat-menu-item routerLink="/status">
          <mat-icon>update</mat-icon>
          <span>Manage Class</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
