
  @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


.nav-icon {
    padding: 0 14px;
    cursor: pointer;
  }
  .nav-text{
    cursor: pointer;
  }
  
  .nav-spacer {
    flex: 1 1 auto;
  }
